# .gitignore
!test_set/
logs/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.so
#*.pkl

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_metadata

# Environments
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Database
*.sqlite

# Misc
.DS_Store
*.swp
*.swo
*.swn
*~

# GAMS Gitignore

# Ignore all GAMS output files
*.lst
*.gdx
*.pf
*.opt

# Ignore log files
*.log

# Ignore other GAMS system files
__gams*

index*.bin
*.ilp

# Ignore local testing
create_code_testset.py
create_tool_testset.py
grading.py
run_exp.py
show_results.ipynb
quick_test.ipynb
tmp/

# Ignore kb
chroma_langchain_db/